<%= link_to "Home", root_path %>
<h2>Check ory keto permissions</h2>
<%= form_with(url: ory_verify_permissions_path) do |form| %>

  <% unless @allowed.nil? %>
    <div style="padding: 10px; text-align: center;">
      <b>The permission is <%= @allowed ? "Allowed" : "Not allowed" %></b>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :namespace %>
    <%= form.text_field :namespace %>
  </div>

  <div class="form-field">
    <%= form.label :subject_id, 'Subject' %>
    <%= form.text_field :subject_id %>
  </div>

  <div class="form-field">
    <%= form.label :relation %>
    <%= form.text_field :relation %>
  </div>

  <div class="form-field">
    <%= form.label :object %>
    <%= form.text_field :object %>
  </div>

  <div class="form-field">
    <%= form.label :max_depth %>
    <%= form.text_field :max_depth %>
  </div>

  <div class="">
    <%= form.submit 'Check' %>
  </div>
<% end %>
